<div class="pin-wrapper">
    <div class="name">{{attributes.listingTitle}}</div>
    <!--<div class="date"><i class="icon">&#128340;</i> January 4 @ 8:30pm</div>-->
    <!--<div class="proximity"><i class="icon">&#59172;</i> {{attributes.locationDistanceFromText}}</div>-->
    <!--<div class="price green">${{attributes.price}}</div>-->
    <p class="description">{{attributes.listingDescription}}</p>
    <div class="button-group">
        <a class="button button-pink"><i class="icon-mail"></i> Message</a>
        <a class="button button-pink"><i class="icon-checkmark"></i>Save</a>
    </div>
</div>