
{{#results}}
    <li>
        <a class="listing" data-target="pin" data-pinid="{{id}}">
            <div class="name">{{attributes.listingTitle}}</div>
            <div class="date"><i class="icon-clock"></i> January 4 @ 8:30pm</div>
            <div class="proximity"><i class="icon-location"></i> {{attributes.locationDistanceFromText}}</div>
            <div class="price green">${{attributes.price}}</div>
            <!--<div class="left user">-->
            <!--<img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn2/1118864_100001373135174_1532810518_q.jpg">-->
            <!--<span class="name">Jeff Gunderson</span>-->
            <!--</div>-->
        </a>
    </li>
{{/results}}