<header class="header header-home">
    <div class="inner">
        <span class="company-name">Closetickets</span>
        <!--<img style="width:160px" src="/img/logo.png">-->
        <ul class="navigation float-right">
            <!--<li><a href="#">Features</a></li>-->
            <!--<li><a href="#">About</a></li>-->
            <li><a class="init-signup bubble" data-target="#loginModal" data-toggle="modal">Login</a></li>
            <li><a class="init-signup bubble" data-target="#signupModal" data-toggle="modal">Sign Up</a></li>
        </ul>
    </div>
</header>
