<header class="header">
    <ul class="navigation float-left">
        <li><a class="nav-item" data-toggle="sidebar"><i class="icon-list2 icon-big"></i></a></li>
    </ul>
    <div class="logo">
        <img src="/img/logo-shield.png" alt="Closetickets logo shield">
        <span class="company-name">Closetickets</span>
    </div>
    <ul class="navigation float-right">
        <li><a class="nav-item not-logged-in" style="display:none" data-target="#signupModal" data-toggle="modal">Sign Up</a></li>
        <li><a class="nav-item not-logged-in" style="display:none" data-target="#loginModal" data-toggle="modal">Log In</a></li>
    </ul>
</header>