<header class="header">
    <ul class="navigation float-left">
        <li><a class="nav-item logged-in" data-toggle="sidebar"><i class="icon icon-large">&#9776;</i></a></li>
    </ul>
    <div class="logo">
        <span class="company-name">Closetickets</span>
    </div>
    <ul class="navigation float-right">
        <!--<li><a class="nav-item"></a></li>-->
        <li><a class="nav-item not-logged-in" style="display:none" data-target="#signupModal" data-toggle="modal">Sign Up</a></li>
        <li><a class="nav-item not-logged-in" style="display:none" data-target="#loginModal" data-toggle="modal">Log In</a></li>
        <li><a class="nav-item" data-toggle="modal" data-target="#createListingModal"><i class="icon">&#127915;</i> Sell a Ticket</a></li>
        <!--<li><a class="button button-medium button-green" data-toggle="modal" data-target="#createListingModal"><i class="icon">&#59172;</i> Sell Yours</a></li>-->
        <!--<li class="not-logged-in" style="display:none;"><a class="init-signup bubble" data-target="#loginModal" data-toggle="modal">Login</a></li>-->
        <!--<li class="not-logged-in" style="display:none;"><a class="init-signup bubble" data-target="#signupModal" data-toggle="modal">Sign Up</a></li>-->
        <!--<li class="logged-in" style="display:none;"><a class="init-signup"></a></li>-->
    </ul>
</header>