<div id="side-menu">
    <div class="side-menu-block">
        <div class="inner">
            <img class="avatar" src="/img/user/blankavatar.png">
            <span class="logged-in username">Jeff Gunderson</span>
        </div>
    </div>
    <div class="side-menu-block">
        <span class="section-heading">Account</span>
        <ul class="side-menu-list">
            <li><a><i class="icon">&#59168;</i> Messages</a></li>
            <li><a><i class="icon">&#59214;</i> Manage Tickets</a></li>
            <li><a><i class="icon">&#9998;</i> Edit Profile</a></li>
            <li><a><i class="icon">&#59201;</i> Logout</a></li>
        </ul>
    </div>
    <div class="side-menu-block">
        <span class="section-heading">Company</span>
        <ul class="side-menu-list">
            <li><a><i class="icon">&#59141;</i> About</a></li>
            <li><a><i class="icon">&#9874;</i> Support</a></li>
            <li><a><i class="icon">&#128273;</i> Privacy Policy</a></li>
        </ul>
    </div>
</div>