<div id="side-menu">

    <div class="side-menu-wrapper clearfix">

        <!-- menu -->
        <div class="side-menu-item">
            <div class="side-menu-block logged-in">
                <div class="inner">
                    <img class="logged-in avatar" src="/img/user/blankavatar.png">
                    <span class="logged-in username"></span>
                </div>
            </div>
            <div class="side-menu-block logged-in">
                <span class="section-heading">Account</span>
                <ul class="side-menu-list">
                    <li><a data-action="messaging"><i class="icon-mail"></i> Messages</a></li>
                    <li><a data-action="ticketmanager"><i class="icon-browser"></i> Manage Tickets</a></li>
                    <li><a><i class="icon-pencil"></i> Edit Profile</a></li>
                    <li><a class="log-out"><i class="icon-logout"></i> Logout</a></li>
                </ul>
            </div>
            <div class="side-menu-block">
                <span class="section-heading">Company</span>
                <ul class="side-menu-list">
                    <li><a><i class="icon-info2"></i> About</a></li>
                    <li><a><i class="icon-tools"></i> Support</a></li>
                    <li><a><i class="icon-key"></i> Privacy Policy</a></li>
                </ul>
            </div>
        </div>



    </div>

</div>