<div id="listing-template" style="display:none;">
    {{#results}}
    <li>
        <div class="listing">
            <div class="name">Passion Pit</div>
            <div class="date"><i class="icon">&#128340;</i> January 4 @ 8:30pm</div>
            <div class="proximity"><i class="icon">&#59172;</i> 1 mile</div>
            <div class="price green">$39.99</div>
            <!--<div class="left user">-->
            <!--<img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn2/1118864_100001373135174_1532810518_q.jpg">-->
            <!--<span class="name">Jeff Gunderson</span>-->
            <!--</div>-->
        </div>
    </li>
    {{/results}}
</div>