<div class="main-slider">
    <div class="main-text">
        <h1 class="centered">Find event tickets close to you</h1>
        <h2 class="centered">...or sell your own</h2>
        <div class="button-area centered">
            <a href="#" class="button button-green"><i class="icon">&#128077;</i> Get Started</a>
            <a href="#" class="button button-pink"><i class="icon">&#59140;</i> Learn More</a>
        </div>

    </div>
    <div class="shadow"></div>
    <!--<div class="pills">-->
        <!--<div class="pill">-->
            <!--<div class="pill-slit"></div>-->
        <!--</div>-->
    <!--</div>-->
</div>

<script>
//    $(function() {
//        CLOSE.ui.createHomepagePills({
//            'pillClass':'pill',
//            'slitClass': 'pill-slit',
//            'wrapperClass':'pills'
//        });
//    });
</script>